<html>
<head>
<title>overview_page.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,0); }
.s2 { color: rgb(0,0,128); font-weight: bold; }
.s3 { color: rgb(0,0,255); font-weight: bold; }
.s4 { color: rgb(0,128,0); font-weight: bold; }
.s5 { color: rgb(128,128,128); font-style: italic; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
overview_page.html</FONT>
</center></TD></TR></TABLE>
<pre>
<a name="l1"><span class="ln">1    </span></a><span class="s0">{% extends &quot;base.html&quot; %} 
<a name="l2"><span class="ln">2    </span></a>{% block content %} 
<a name="l3"><span class="ln">3    </span></a>    </span><span class="s1">&lt;</span><span class="s2">div </span><span class="s3">id=</span><span class="s4">&quot;top-filter-buttons&quot; </span><span class="s3">style=</span><span class="s4">&quot;</span><span class="s0">float:right;padding-right:13%;padding-top:3%</span><span class="s4">&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l4"><span class="ln">4    </span></a>        </span><span class="s1">&lt;</span><span class="s2">a </span><span class="s3">href=</span><span class="s4">&quot;{{ url_for('overview_pending') }}&quot;</span><span class="s1">&gt;&lt;</span><span class="s2">button </span><span class="s3">class=</span><span class="s4">&quot;btn btn-primary&quot;</span><span class="s1">&gt;</span><span class="s0">Show Only Pending</span><span class="s1">&lt;/</span><span class="s2">button</span><span class="s1">&gt;&lt;/</span><span class="s2">a</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l5"><span class="ln">5    </span></a>        </span><span class="s1">&lt;</span><span class="s2">a </span><span class="s3">href=</span><span class="s4">&quot;{{ url_for('overview_approved') }}&quot;</span><span class="s1">&gt;&lt;</span><span class="s2">button </span><span class="s3">class=</span><span class="s4">&quot;btn btn-primary&quot;</span><span class="s1">&gt;</span><span class="s0">Show Accepted</span><span class="s1">&lt;/</span><span class="s2">button</span><span class="s1">&gt;&lt;/</span><span class="s2">a</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l6"><span class="ln">6    </span></a>        </span><span class="s1">&lt;</span><span class="s2">a </span><span class="s3">href=</span><span class="s4">&quot;{{ url_for('overview_all') }}&quot;</span><span class="s1">&gt;&lt;</span><span class="s2">button </span><span class="s3">class=</span><span class="s4">&quot;btn btn-primary&quot;</span><span class="s1">&gt;</span><span class="s0">Show All</span><span class="s1">&lt;/</span><span class="s2">button</span><span class="s1">&gt;&lt;/</span><span class="s2">a</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l7"><span class="ln">7    </span></a>    </span><span class="s1">&lt;/</span><span class="s2">div</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l8"><span class="ln">8    </span></a> 
<a name="l9"><span class="ln">9    </span></a>    </span><span class="s1">&lt;</span><span class="s2">div </span><span class="s3">class=</span><span class="s4">&quot;container&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l10"><span class="ln">10   </span></a>        </span><span class="s1">&lt;</span><span class="s2">h1 </span><span class="s3">class=</span><span class="s4">&quot;&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l11"><span class="ln">11   </span></a>            Hello </span><span class="s1">&lt;</span><span class="s2">span</span><span class="s1">&gt;</span><span class="s0">{{ email }}</span><span class="s1">&lt;/</span><span class="s2">span</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l12"><span class="ln">12   </span></a>            </span><span class="s5">&lt;!-- &lt;p&gt;&lt;small class=&quot;text-muted&quot;&gt; These are the registered students...&lt;/small&gt;&lt;/p&gt; --&gt;</span><span class="s0"> 
<a name="l13"><span class="ln">13   </span></a>        </span><span class="s1">&lt;/</span><span class="s2">h1</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l14"><span class="ln">14   </span></a>    </span><span class="s1">&lt;/</span><span class="s2">div</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l15"><span class="ln">15   </span></a> 
<a name="l16"><span class="ln">16   </span></a>    </span><span class="s1">&lt;</span><span class="s2">div </span><span class="s3">class=</span><span class="s4">&quot;container&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l17"><span class="ln">17   </span></a>        </span><span class="s1">&lt;</span><span class="s2">table </span><span class="s3">class=</span><span class="s4">&quot;table&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l18"><span class="ln">18   </span></a>            </span><span class="s1">&lt;</span><span class="s2">thead </span><span class="s3">class=</span><span class="s4">&quot;thead-dark&quot;</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l19"><span class="ln">19   </span></a>                </span><span class="s1">&lt;</span><span class="s2">tr</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l20"><span class="ln">20   </span></a>                  </span><span class="s1">&lt;</span><span class="s2">th </span><span class="s3">scope=</span><span class="s4">&quot;col&quot;</span><span class="s1">&gt;</span><span class="s0">Name</span><span class="s1">&lt;/</span><span class="s2">th</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l21"><span class="ln">21   </span></a>                  </span><span class="s1">&lt;</span><span class="s2">th </span><span class="s3">scope=</span><span class="s4">&quot;col&quot;</span><span class="s1">&gt;</span><span class="s0">Institute</span><span class="s1">&lt;/</span><span class="s2">th</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l22"><span class="ln">22   </span></a>                  </span><span class="s1">&lt;</span><span class="s2">th </span><span class="s3">scope=</span><span class="s4">&quot;col&quot;</span><span class="s1">&gt;</span><span class="s0">Course</span><span class="s1">&lt;/</span><span class="s2">th</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l23"><span class="ln">23   </span></a>                </span><span class="s1">&lt;/</span><span class="s2">tr</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l24"><span class="ln">24   </span></a>            </span><span class="s1">&lt;/</span><span class="s2">thead</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l25"><span class="ln">25   </span></a> 
<a name="l26"><span class="ln">26   </span></a>            </span><span class="s1">&lt;</span><span class="s2">tbody</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l27"><span class="ln">27   </span></a>                {% for student in students %} 
<a name="l28"><span class="ln">28   </span></a>                </span><span class="s1">&lt;</span><span class="s2">tr</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l29"><span class="ln">29   </span></a>                    </span><span class="s1">&lt;</span><span class="s2">td</span><span class="s1">&gt;&lt;</span><span class="s2">a </span><span class="s3">href=</span><span class="s4">&quot;/student_details/{{ student._id }}&quot;</span><span class="s1">&gt;</span><span class="s0">{{ student.student_name }}</span><span class="s1">&lt;/</span><span class="s2">a</span><span class="s1">&gt;&lt;/</span><span class="s2">td</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l30"><span class="ln">30   </span></a>                    </span><span class="s1">&lt;</span><span class="s2">td</span><span class="s1">&gt;</span><span class="s0">{{ student.institute }}</span><span class="s1">&lt;/</span><span class="s2">td</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l31"><span class="ln">31   </span></a>                    </span><span class="s1">&lt;</span><span class="s2">td</span><span class="s1">&gt;</span><span class="s0">{{ student.course }}</span><span class="s1">&lt;/</span><span class="s2">td</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l32"><span class="ln">32   </span></a>                </span><span class="s1">&lt;/</span><span class="s2">tr</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l33"><span class="ln">33   </span></a>                {% endfor %} 
<a name="l34"><span class="ln">34   </span></a>            </span><span class="s1">&lt;/</span><span class="s2">tbody</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l35"><span class="ln">35   </span></a>        </span><span class="s1">&lt;/</span><span class="s2">table</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l36"><span class="ln">36   </span></a>        </span><span class="s1">&lt;</span><span class="s2">small</span><span class="s1">&gt;</span><span class="s0">End of student list.</span><span class="s1">&lt;/</span><span class="s2">small</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l37"><span class="ln">37   </span></a></span><span class="s1">&lt;/</span><span class="s2">div</span><span class="s1">&gt;</span><span class="s0"> 
<a name="l38"><span class="ln">38   </span></a> 
<a name="l39"><span class="ln">39   </span></a>{% endblock %}</span></pre>
</body>
</html>