<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>REGISTRATION FORM</title>
</head>
<body>
	
	<div class="container">
		<table style="width: 50%">
			
			<tr>
				<td><b>Name:</b>
					
				</td>
				<td><input type="text" style="width: 100%" id="Name" class="form-control" name="Name" placeholder="Enter your Name"></td>

			</tr>


			<tr>
				<td><b>Father/Mother/Guardian's Name:</b>
					
				</td>
				<td><input type="text" id="Father" class="form-control" name="Name" placeholder="Father/Mother/Guardian's Name:"></td>

			</tr>
			<tr>
				<td><b>Email Id:</b></td>
				<td><input type="text" id="Email" class="form-control" name="Name" placeholder="Enter your Email"></td>

			</tr>
			<tr>
				<td><b>Name of the Institute:</b></td>
				<td><input type="text" id="Name" class="form-control" name="Name" placeholder="Name of the Institute"></td>

			</tr>
			<tr>
				<td><b>Course</b></td>
				<td><input type="text" id="Course" class="form-control" name="Course" placeholder="Course Name"></td>

			</tr>
			
			<tr>
				<td><b>Semester/Year:</b></td>
				<td><input type="text" id="Email" class="form-control" name="Name" placeholder="Semester/Year"></td>

			</tr>
			<tr>
				<td><b>Session:</b></td>
				<td><input type="text" id="Session" class="form-control" name="Session" placeholder="Session"></td>

			</tr>
			<tr>
				<td><b>Desired Discipline,department and place of training:</b></td>
				<td><input type="text" id="Email" class="form-control" name="Discipline" placeholder="Desired Discipline"></td>

			</tr>
			<tr>
				<td><b>Date of training:</b></td>
				<td><input type="text" id="Date" class="form-control" name="training" placeholder=" date of training"></td>

			</tr>
			<tr>
				<td><b>Address for Communication:</b></td>
				<td><input type="text" id="Address" class="form-control" name="Address" placeholder="Address for Communication"></td>

			</tr>


		</table>
		
	</div>
	</div>
	<div class="container"><br>
		<form action="uploadimage.html" >
		<input type="submit" value="Submit">
	</form>
	</div>
</body>
</html>