<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SE Railway | Internship</title>

    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD9/f0AAAAAADAwMAACAgIA////APj4+AAEBAQA+vr6APz8/AAPDw8AAQEBAP7+/gCysrIAAwMDAAAAAAAAAAAAEUoiIiIiNBERRLpERFFEERFES0RAdEQREUQRERERtBERShEREREUERFBRBERRBQREUEaEREdFBERQREREREUERFBFEFsyRQREUFEREREFBERQUREREQUERFBhEcUQBQREUARREQRZBERREERERtEERFEREEUREQREUREQxRERBHAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAA" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="text/css" media="print" href="{{ url_for('static', filename='css/print.css') }}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!--<script type="text/javascript" >-->
        <!--function preventBack(){window.history.forward();}-->
        <!--setTimeout("preventBack()", 0);-->
        <!--window.onunload=function(){null};-->
    <!--</script>-->


</head>
<body>

<div id="box">
    <div id="a">
        <a href="http://www.ser.indianrailways.gov.in/view_section.jsp?lang=0&id=0,6,403"><img src="https://i.imgur.com/hMXpmbC.jpg" width="100%"></a>
    </div>

    <div id="b" style="overflow:hidden;background:white;"> </div>
</div>

    <!-- ------------------------------ -->
    {% block content %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>